.task-panel{
    display: flex; 
    position: relative;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 20px 60px;
    margin-bottom: 10px;
}
.task-name{
    width: 200px;text-align: center; font-weight: bold;
}
.task-description{
    flex: 1; text-align: center;
}
.task-assignee{
    margin-left: 10px;
}
.task-icon-span{
    display: flex;
}
.task-icon{
    margin-left: 10px;cursor: pointer;
}